.items > div {
  display: inline;
  width: 100%;
  height: 400px;
}

.items > div:nth-child(1) {
  background-image: url("img/services/Saumaus.jpeg");
  background-size: cover;
}

.items > div:nth-child(2) {
  background-image: url("img/services/julkissivupesu_2.jpeg");
  background-size: cover;
}

.items > div:nth-child(3) {
  background-image: url("img/services/rappaus.jpeg");
  background-size: cover;
}

.service a {
  display: flex;
  height: 100%;
  width: auto;
  align-items: flex-end;
  text-decoration: none;
  color: white;
}

.service > a > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 16px;
  width: 100%;
  background-color: rgba(251, 154, 35, 0.7);
}

.service > a > div > div {
  text-shadow: 2px 2px black;
  font-weight: 400;
}

h2 {
  margin: 8px 0;
}

.items {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  width: 100%;
}

.underline {
  border-bottom: solid;
  border-color: #f4a32e;
  width: 100px;
  border-width: 6px;
  border-radius: 50px;
  opacity: 70%;
}

.recommendation {
  background-image: url("img/services/recommendation.jpeg");
  background-attachment: fixed;
  position: relative;
  gap: 0px;
  background-color: black;
  width: auto;
  margin: 0;
  z-index: 0;
}

.recommendation::after {
  position: absolute;
  content: "\A";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.orange {
  color: #f4a32e;
}

.white {
  color: white;
}

.flex {
  width: 100%;
  display: flex;
  justify-content: space-around;
  z-index: 0;
}

.info {
  letter-spacing: 0.2em;
  font-weight: 200;
}

.spacer {
  height: 20px;
}

.icon {
  background: #fff;
  border-radius: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
}

.icon > img {
  width: 70%;
}

.service3 {
  width: auto;
}

@media (min-width: 992px) {
  .column {
    width: 33.33%;
  }

  .row {
    display: flex;
    align-items: flex-end;
  }
}

@media (max-width: 991px) {
  .container {
    display: block;
    width: 100%;
  }
  .container .card .face {
    width: 100%;
    height: 200px;
  }
  .container .card .face.face1 {
    margin-bottom: 30px;
  }
}

.column {
  float: left;
  min-width: 400px;
  height: auto;
}

.person {
  position: relative;
  margin-bottom: -3px;
}
.row {
  width: 100%;
}
/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

.content-wrap {
  padding-left: 130px;
  text-align: left;
  height: 200px;
}

.surface-repair {
  padding-bottom: 0;
}
