body {
  color: #010101;
  background-color: #f1f1f1;
  box-sizing: border-box;
}

.service2 {
  display: flex;
  max-width: 400px;
  align-items: center;
  flex-direction: column;
  row-gap: 14px;
}

.service2 > img {
  object-fit: cover;
  width: 300px;
  height: 200px;
}

.subtext {
  font-size: large;
  max-width: 800px;
}

button {
  font-size: 18px;
  min-width: none;
  padding: 6px 12px;
}

.items {
  display: flex;
  flex-direction: row;
}

.underline {
  border-bottom: solid;
  border-color: #f4a32e;
  width: 100px;
  border-width: 6px;
  border-radius: 50px;
  opacity: 70%;
}

.recommendation {
  gap: 0px;
  background-color: black;
  width: auto;
  margin: 0;
}

.orange {
  color: #f4a32e;
}

.white {
  color: white;
}

.flex {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.recommendation > .bg-image {
  background-image: url("img/services/recommendation.jpeg");
  position: absolute;
  height: 230px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 30%;
}

.info {
  letter-spacing: 0.2em;
  font-weight: 200;
}

.spacer {
  height: 20px;
}

.icon {
  background: #fff;
  border-radius: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
}

.icon > img {
  width: 70%;
}

.service3 {
  width: auto;
}

.column {
  float: left;
  width: 33.33%;
  min-width: 400px;
  height: auto;
}

.surface-repair {
  padding-bottom: 0;
}

.person {
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.content-wrap {
  padding-left: 130px;
  text-align: left;
  height: 250px;
}
